{% extends 'base.html' %}
{% block content %}
<div class="main users-new">
    <div class="container">
      <div class="form-heading">ログイン</div>
      <div class="form users-form">
        <div class="form-body">
        {% if error_message %}
            <div class="form-error">
            {{ error_message }}
            </div>
        {% endif %}
  
        <form method="POST">{% csrf_token %}
          {{login_form.email.errors}}
          <label for="{{login_form.email.id_for_label}}">メールアドレス</label>
          {{login_form.email}}

          {{rlogin_form.password.errors}}
          <label for="{{login_form.password.id_for_label}}">パスワード</label>
          {{login_form.password}}
          
            <input type="submit" value="ログイン">
        </form>
        </div>
      </div>
    </div>
</div>
{% endblock content %}